:root {
  --wowGray: rgba(0, 0, 0, 0.4);
  --borderRadius: 25px;
  --mainHeight: 40vh;
  --clickedBlue: #0984e3;
  --titleColor: rgba(100, 32, 32);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  background-color: #f6f6fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__title {
  font-size: 35px;
  color: var(--titleColor);
}

.header__subtitle {
  font-size: 13px;
  margin-top: 10px;
  color: var(--wowGray);
}

.header__icons {
  align-self:flex-start;
}

.header__icon img {
  width: 20px;
  height: 20px;
  padding: 10px;
  opacity: 0.5;
}

.recipe {
  height:var(--mainHeight);
  border-radius: var(--borderRadius);
  background-image: url("https://i.pinimg.com/564x/a1/62/b0/a162b0ede50024faddc09798bb7da7b2.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
}

.recipe .recipe__heart {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  padding-bottom: 5px;;
  background-color: rgb(200, 200, 200);
}

.recipe__info {
  background-color: white;
  border-radius: var(--borderRadius);
  width: 75%;
  height: calc(0.33 * var(--mainHeight));
  padding: 8px 20px;

  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;

  position: relative;
  top: calc(0.8 * var(--mainHeight));

  box-shadow: 0 10px 20px 10px rgba(50, 50, 50, 0.1);

}

.recipe__title {
  font-size: 24px;
  font-weight: 800;
}

.recipe__meta {
  font-size: 12px;
  height: 100%;
  color: var(--wowGray);
  border-bottom: 0.3px solid var(--wowGray);
  display: flex;
  align-items: center;
}

.recipe__meta-data:hover {
  color: var(--clickedBlue);
}

.recipe__social {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.recipe__social img{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.recommended__header {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.recommended__title{
  font-size: 20px;
  font-weight: 600;
}

.recommended__option{
  font-size: 15px;
  color: var(--wowGray);
}

.recommended__option:hover {
  color: var(--clickedBlue);
}


.recommended__grid{
  display: flex;
  gap: 80px;
  overflow: hidden;
  overflow-x: auto;
}

.recommended__recipe{
  height: 250px;
  background: white;
}

.recommended__image img {
  width: 500px;
  height: 180px;
  object-fit: cover;
}

